<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form' }) do |f| %>
  <%= devise_error_messages! %>

    <fieldset></fieldset>
    <%= f.input :name %>

    <%= f.input :email %>

    <%= f.input :password, hint: 'leave blank if you don\'t want to change it', autocomplete: 'off' %> 


  <%= f.input :password_confirmation %>

  <% if f.object.encrypted_password.present? %>
    <%= f.input :current_password, hint: 'we need your current password to confirm your changes' %>
  <% end %>
  
  <%= f.submit "Update", class: 'update_button'  %>
<% end %>

<h3>Cancel my account</h3>

<div class='comment'>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></div>

<%= link_to "Back", :back %>
