<!DOCTYPE html>
<html>
<head>
  <title>One Quote app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <div class='menu'>
    <ul class='navigation'>
      <li><%= link_to 'Home', root_path %></li>
      <% if user_signed_in? %>
        Logged in as <%= current_user.email %>
        <li><%= link_to 'Add a quote', new_quote_path %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <li class='divider'></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li> | 
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<body class="content">

<%= yield %>

</body>
</html>
