<!DOCTYPE html>
<html>
<head>
  <title>One Quote app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <div class='menu'>
    <div class="nav-menu">
      <%= link_to 'One Quote app', root_path, class: 'logo' %>
      <ul class='navigation'>
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
          
          <li><%= link_to 'Add a quote', new_quote_path %></li>
          <li><%= link_to (current_user.name ||current_user.email), edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <li></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Facebook login', user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>"><a href="#" class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>
  
<body class="content">

<%= yield %>

</body>
</html>
